
.spaceTop {
  margin-top: 30px !important;
}

.spaceBottom {
  margin-bottom: 30px !important;
}

.spaceRight {
  margin-right: 30px !important;
}

.spaceBorder {
  margin-top: 15px;
  margin-left: 15px;
}

.intColumn {
  width: 25px;
}

.nameColumn {
  width: 250px;
}

.inlineLink {
  width: 160px;
  margin-left: -15px;
  margin-top: -10px;
}