
.spaceTop {
  margin-top: 30px
}

.spaceBottom {
  margin-bottom: 30px
}

.spaceRight {
  margin-right: 30px
}

.spaceBorder {
  margin-top: 15px;
  margin-left: 15px;
}

.intColumn {
  width: 25px;
}

.nameColumn {
  width: 250px;
}