a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) );
}

.menu-spaceRight {
  margin-right: 20px !important;
}

.menu-first-page-item {
  color: cornsilk !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}

  .menu-first-page-item:hover {
    filter: brightness(85%);
  }

.menu-item {
  color: cornsilk !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

  .menu-item:hover {
    filter: brightness(85%);
  }
